---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/sobre">Sobre</a>
    <br />
    <a href="/blog">Blog</a>
    <h1>Meu Site Astro</h1>
    <h2>......e meu Novo Site Astro</h2>
    <p>
      Estou criando esse tutorial introdutório do Astra. Esta é a segunda página
      do Tutorial, e é a primeira que eu construí
    </p>
    <p>
      Este site será atualizado enquanto eu completo mais desse tutorial, então
      continue verificando e veja como minha jornada está indo!
    </p>
  </body>
</html>
