---
// const plataforma = "github";
// const nomeUsuario = "withastro";

import Social from './Social.astro';

--- 






<footer>
<!-- <p>Aprenda mais sobre meus projetos em <a href={`https://www.${plataforma}.com/${nomeUsuario}`}>{plataforma}</a>!</p> -->

<Social plataforma="twitter" nomeUsuario="Alotus" />
<Social plataforma="github" nomeUsuario="Alotus" />
<Social plataforma="Youtube" nomeUsuario="Everton" />
</footer>
